 /* Contenedor principal para ajustar el 100% de ancho */
 .search-container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}

/* Estilos del campo de búsqueda */
.search-input {
    width: 100%;
    padding: 10px 15px 10px 40px; /* Espacio para el icono */
    font-size: 16px;
    color: #ffffff;
    background-color: #00b8ff;
    border: none;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
}

/* Icono de búsqueda */
.search-container .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    width: 20px;
}

.search-container> .boxSelect {
    width: 100%;
    border-radius: 8px;
    border: var(--ColorP1) solid 4px;
    height: 220px;
    max-height: 500px;
    color: #bbbbbb;
    background-color: #fff;
}
.boxSelect::-webkit-scrollbar {
    display: none;
}

/* Estilos para el contenedor de icono e input */
.search-wrapper {
    position: relative;
    width: 100%;
}

.search-input::placeholder {
    color: #ffffffce;
}
.search-input:hover{
    background-color: var(--ColorP2);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Contenedor principal */
.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 50px;
    position: fixed;
    max-width: 900px;
    z-index: 10;
}

/* Filas principales */
.main-row {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
    margin-bottom: 1rem;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--ColorS1);
    border-radius: 8px;
    margin: auto 5px;
    display: grid;
    align-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.card:hover {
    background-color: var(--ColorS2);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 42%;
    margin: auto;
    display: block;
}

.card p {
    width: 100%;
    text-align: center;
    color: #fff;
}

/* Línea divisoria */
.divider {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #00bfff; /* bluelight color */
    margin: 16px 0;
}