:root{
    --ColorLight: rgb(0, 194, 255);
    --ColorP1: #1995dd;
    --ColorP2: #0064a7;
    --ColorS1: #0077fe;
    --ColorS2: #384fff;
    --ColorA: #000;
    --ColorB: #fff;

    --ColorAlpha1: rgba(0, 0, 0, 0.3);
    --ColorAlpha2: rgba(0, 0, 0, 0.5);
    --ColorAlpha3: rgba(0, 0, 0, 0.7);

}
/*Barra de desplazamiento*/
body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Estilo para la parte de la pista (track) donde se mueve la barra */
body::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0.91);
}

/* Estilo para la barra de desplazamiento */
body::-webkit-scrollbar-thumb {
    background-color: var(--ColorP2);
}

    /* Estilo para cuando el usuario está interactuando con la barra */
    body::-webkit-scrollbar-thumb:hover {
        background-color: var(--ColorS2);
        transition: 1.5s;
    }

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/BackGround3.png);
    background-position: center;
    background-size: 100vw auto;
    background-attachment: fixed;
}

/*Estilos de apoyo*/
.separador{
    width: 100%;
    height: 20px;
    background-color: transparent;
}
.separador-lg{
    width: 100%;
    height: 130px;
    background-color: transparent;
}

.centerY {
    display: grid;
}

.lineX {
    background: var(--ColorLight);
    background: radial-gradient(circle, rgba(0, 194, 255, 1) 23%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 2px;
    margin: 20px auto;
}


/*Elementos basicos*/
.container{
    width: 95%;
    max-width: none;
}

nav {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 95%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    z-index: 100;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

nav>.perfil {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: 0.6s;
}

nav>.perfil:hover{
    background: var(--ColorP1);
    background: linear-gradient(275deg, var(--ColorP1) 47%, rgba(0, 0, 0, 0) 100%);
    cursor: pointer;
}
nav>.perfil:hover > .IconUser{
    opacity: 1;
    margin-left: 40px;
}

/*Iconos css*/
.IconUser {
    height: 60%;
    filter: invert(1);
    opacity: 0.8;
    transition: 0.3s;
}

.IconCompany {
    padding: 5px;
    height: 100%;
    cursor: pointer;
}

.LogoContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-titulo-head {
    height: 100%;
    padding: 10px;
}


/*Textos*/
.container > div{
    color: #fff;
}

.userText {
    color: #fff;
    margin: 0 5px;
    padding: 5px;
}

.titulo {
    letter-spacing: 1px;
    padding: 0.4rem;
    text-align: center;
    margin: auto;
}
.textCapsula{
    padding: 10px;
    background: var(--ColorAlpha1);
    border-radius: 10px;
}
h4{
    font-size: 21px;
    margin: 0;
    padding: 0px 20px;
    border: 0;
}

/*inputs, Botones y Selects*/
select {
    width: 100%;
    margin: auto;
    padding: 8px 14px;
    border: 0;
    background-color: var(--ColorS1);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
select:hover{
    background-color: var(--ColorP1);
}
select:focus{
    border: 0;
}

input[type="button"], button{
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin: 20px auto;
    padding: 2px;
    border: 0;
    background-color: var(--ColorS1);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    display: block;
}
input[type="button"]:hover, button:hover{
    background-color: var(--ColorP2);
}

.input-box{
    margin: 14px;
}
.input-box > label{
    margin-left: 14px;
}
.editText{
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 2px 10px;
    padding-left: 2.5rem;
    border: 0;
    background-color: var(--ColorAlpha2);
    border-radius: 25px;
    color: #fff;
    transition: 0.4s;
    display: block;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.editText:hover{
    background-color: var(--ColorAlpha3);
}
.editText:focus{
    border: solid 2px var(--ColorS1);
    outline: none;
}

/*Con efectos*/
.ContentFluid {
    background-color: black;
    position: relative;
    left: 0;
    padding: 2px;
}

.ContentFluid::after {
    content: "";
    width: 22px;
    height: 110%;
    position: absolute;
    background-color: #000;
    right: -13px;
    transform: rotate(11deg);
}
.custom-button {
    max-width: 1000px;
}
/* Contenedor principal */
.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 50px;
    position: absolute;
    max-width: 600px;
    z-index: 10;
}

/* Filas principales */
.main-row {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
    align-items: center;
    width: 100%;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 8px;
    padding: 16px 0px;
    background-color: #00aefe;
    border-radius: 7px; 
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 60px;
    height: 60px;
}

.card p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
}

/* Línea divisoria */
.divider {
    width: 100%;
    height: 2px;
    background-color: #00bfff; /* bluelight color */
    margin-top: 8px;
}

/* Botón personalizado */
.custom-button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background-color: #00aefe;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #007fb3;
}

/* Estilo del Spinner (Dropdown) */
.custom-spinner {
    width: 100%;
    padding: 8px 10px;
    padding-left: 2.5rem;
    background-color: var(--ColorP1);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    -webkit-appearance: none;
}

/*Animaciones para el menu*/

@keyframes mostrar {
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

@keyframes guardar {
    0%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}




/* Funcionalidades adapatadas a medidas de pantalla */
@media only screen and (min-width: 540px) {
    input[type="button"]{
        display: inline;
    }
}
/*medidas para fondo adaptable al alto despues de que la orientacion de pantalla comienza a convertirce en vertical*/
@media only screen and (max-width: 1240px) {
    body{
        background-size: auto 100vh;
    }
}







