:root{
    --ColorLight: rgb(0, 194, 255);
    --ColorP1: #1995dd;
    --ColorP2: #1270a7;
    --ColorS1: #00aefe;
    --ColorS2: #0396da;
    --ColorA: #000;
    --ColorB: #fff;

    --ColorAlpha1: rgba(0, 0, 0, 0.3);
    --ColorAlpha2: rgba(0, 0, 0, 0.5);
    --ColorAlpha3: rgba(0, 0, 0, 0.7);

}
/*Barra de desplazamiento*/
body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Estilo para la parte de la pista (track) donde se mueve la barra */
body::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0.91);
}

/* Estilo para la barra de desplazamiento */
body::-webkit-scrollbar-thumb {
    background-color: var(--ColorP2);
}

    /* Estilo para cuando el usuario está interactuando con la barra */
    body::-webkit-scrollbar-thumb:hover {
        background-color: var(--ColorS2);
        transition: 1.5s;
    }

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/BackGround3.png);
    background-position: center;
    background-size: 100vw auto;
    background-attachment: fixed;
}

/*Estilos de apoyo*/
.separador{
    width: 100%;
    height: 20px;
    background-color: transparent;
}
.separador-lg{
    width: 100%;
    height: 130px;
    background-color: transparent;
}

.centerY {
    display: grid;
}

.lineX {
    background: var(--ColorLight);
    background: radial-gradient(circle, rgba(0, 194, 255, 1) 23%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 2px;
    margin: 20px auto;
}


/*Elementos basicos*/
.container{
    width: 95%;
    max-width: none;
}

nav {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 95%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    border-radius: 50px;
    z-index: 100;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

nav>.perfil {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: 0.6s;
}

nav>.perfil:hover{
    background: var(--ColorP1);
    background: linear-gradient(275deg, var(--ColorP1) 47%, rgba(0, 0, 0, 0) 100%);
    cursor: pointer;
}
nav>.perfil:hover > .IconUser{
    opacity: 1;
    margin-left: 40px;
}

#menuUser{
    position: absolute;
    background: var(--ColorAlpha3);
}

/*Iconos css*/
.IconUser {
    height: 60%;
    filter: invert(1);
    opacity: 0.8;
    transition: 0.3s;
}

.IconCompany {
    padding: 2px;
    height: 100%;
    cursor: pointer;
}

.LogoContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#headMenu{
    height: 100%;
    width: auto;
    min-width: 170px;
}

.img-titulo-head {
    height: 100%;
    padding: 10px;
}


/*Textos*/
.container > div{
    color: #fff;
}

.userText {
    color: #fff;
    margin: 0 5px;
    padding: 5px;
}

.titulo {
    letter-spacing: 1px;
    padding: 0.4rem;
    text-align: center;
    margin: auto;
}
.textCapsula{
    padding: 10px;
    background: var(--ColorAlpha1);
    border-radius: 10px;
}
.pTotal{
    padding: 14px;
}
.pTotal h1{
    margin-left: 14px;
    font-weight: bolder;
}
.pTotal h3{
    margin-left: 14px;
    opacity: 0.8;
}
h4{
    font-size: 21px;
    margin: 0;
    padding: 0px 20px;
    border: 0;
}

/*inputs, Botones y Selects*/
select {
    width: 100%;
    margin: auto;
    padding: 8px 14px;
    border: 0;
    background-color: var(--ColorS1);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
select:hover{
    background-color: var(--ColorP1);
}
select:focus{
    border: 0;
}
/*Botones de caja*/
.btnBox{
    width: 100%;
    aspect-ratio: 8 / 6;
    background-color: var(--ColorP1);
    border-radius: 8px;
    margin: auto;
    display: grid;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.btnBox:hover {
    background-color: var(--ColorP2);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.btnBox> img{
    width: 30%;
    margin: auto;
    display: block;
}
.btnBox> p{
    width: 100%;
    padding: 10px;
    text-align: center;
}

input[type="button"], button{
    width: 100%;
    height: 40px;
    margin: 12px auto;
    padding: 2px;
    border: 0;
    background-color: var(--ColorP1);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    display: block;
}
input[type="button"]:hover, button:hover{
    background-color: var(--ColorP2);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.input-box{
    margin: 14px;
}
.input-box > label{
    margin-left: 14px;
}
label{
    margin-left: 14px;
    opacity: 0.7;
    margin-bottom: 0;
}
.editText{
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 2px 10px;
    padding-left: 2.5rem;
    border: 0;
    background-color: var(--ColorAlpha2);
    border-radius: 25px;
    color: #fff;
    transition: 0.4s;
    display: block;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.editText:hover{
    background-color: var(--ColorAlpha3);
}
.editText:focus{
    border: solid 2px var(--ColorS1);
    outline: none;
}

/*Con efectos*/
.ContentFluid {
    background-color: black;
    position: relative;
    left: 0;
    z-index: 2;
}

.ContentFluid::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-bottom: 60px solid #000;
    transform: rotate(180deg);
    position: absolute;
    right: -66px;
}
.ContentFluid::before {
    content: "";
    width: 16px;
    height: 60px;
    position: absolute;
    right: -6px;
    background-color: #000;
}
.custom-button {
    max-width: 1000px;
}

/* Botón personalizado */
.custom-button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background-color: #00aefe;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #007fb3;
}

/* Estilo del Spinner (Dropdown) */
.custom-spinner {
    width: 100%;
    padding: 8px 10px;
    padding-left: 2.5rem;
    background-color: var(--ColorP1);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    -webkit-appearance: none;
}
.custom-spinner:hover{
    background-color: var(--ColorP2);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
/*Contenedores de datos de usuario*/

.cardServ {
    width: auto;
    padding: 15px;
    background-color: var(--ColorAlpha2);
    border-radius: 10px;
    color: #ffffff;
    margin: 14px 14px;
    text-transform: uppercase;
}
.text-icon{
  display: flex;
}

.text-icon img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding: 4px;
}

.cardServ h2 {
    font-size: 20px;
    margin: 10px 0;
    margin-left: 2rem;
}

.cardServ hr {
    border: none;
    height: 1px;
    background-color: #00aaff; /* Color de la línea */
    margin: 10px 0;
    margin-top: 0;
}

.cardServ p {
    font-size: 14px;
    opacity: 0.8;
    margin-left: 8px;
}



/*Animaciones para el menu*/

@keyframes mostrar {
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

@keyframes guardar {
    0%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}
/*Animaciones para el menu encabezado

#headMenu {
    transition: width 0.3s ease 0.3s;
  }*/ 


.bloqueoVentana{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000e7;
    color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 115;
    display: grid;
    justify-content: center;
    align-items: center;
}
.bloqueoVentana > div {
    text-align: center;
}



/* Funcionalidades adapatadas a medidas de pantalla */
@media only screen and (min-width: 540px) {
    input[type="button"]{
        display: inline;
    }
}
/*medidas para fondo adaptable al alto despues de que la orientacion de pantalla comienza a convertirce en vertical*/
@media only screen and (max-width: 1240px) {
    body{
        background-size: auto 100vh;
    }
}







